* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.background {
    background-image: url("backgroundimage1.jpg");
    background-repeat: ;
}


/*profile picture and short summary*/

.header {
    padding: 70px;
    text-align: center;
    background-color: darkcyan;
    color: cornsilk;
}

.bar {
    margin: o;
}

.bar h1 {
    overflow: hidden;
    font-size: 40px;
}

h2 {
    color: darkcyan;
    text-align: center;
}

.down {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.cardA {
    -ms-flex: 30%;
    /* IE10 */
    flex: 30%;
    background-color: lightgray;
    padding: 20px;
}

.cardB {
    -ms-flex: 70%;
    /* IE10 */
    flex: 70%;
    background-color: rgb(158, 157, 157);
    padding: 20px;
    border-spacing: 0px;
    text-align: center;
}
/*for contact form*/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contact form {
    border-radius: 5px;
    background-color: rgb(158, 157, 157);
    padding: 20px;
    width: 30%;
}

.bar p {
    text-align: center;
    color: white;
    font-size: 30px;
}

.cardB table {
    width: 60%;
    border-collapse: collapse;
    margin-left: 250px;
}

.cardB th,
.cardB td {
    padding: 8px;
    text-align: left;
}

.header img {
    float: left;
    width: 200px;
    height: 200px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 0;
    margin-top: -40px;
    object-fit: cover;
}

.box {
    width: 100%;
    background-image: url("backgroundimage1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}


/* Responsive layout - when the screen is less than 700px wide, the two columns would stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    .classA {
        flex-direction: column;
    }
}


/* Responsive layout - when the screen is less than 400px wide,  the navigation links would stack on top of each other instead of next to each other */

@media screen and (max-width: 400px) {
    .bar p {
        float: none;
        width: 100%;
    }
}
